<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo">
    <a href="dashboard" class="simple-text logo-normal">
      <div class="logo-image-big">
        <img src="../images/logo.jpg" />
      </div>
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li id="dashboard">
        <a href="dashboard">
          <i class="fa fa-home"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li id="doctors">
        <a href="doctors">
          <i class="fa fa-user-md"></i>
          <p>Doctors</p>
        </a>
      </li>
      <li id="hospitals">
        <a href="hospitals">
          <i class="fa fa-hospital-o"></i>
          <p>Hospitals</p>
        </a>
      </li>
      <li id="testimonials">
        <a href="testimonials">
          <i class="fa fa-quote-left"></i>
          <p>Testimonials</p>
        </a>
      </li>
      <li id="inquiries">
        <a href="inquiries">
          <i class="fa fa-envelope"></i>
          <p>Inquiries</p>
        </a>
      </li>
      <li id="businessInfo">
        <a href="business_info">
          <i class="fa fa-briefcase"></i>
          <p>Business Details</p>
        </a>
      </li>
    </ul>
  </div>
</div>